<h1>Specific user</h1>
<div class='user-class'>
  <span class='title'> <%= @user.name %> </span> <span class='number-of-posts'>Number of posts: <%= @user.posts_counter %></span>
</div>
<div class='bio-class'>
  <h4>Bio</h4>
  <%= @user.bio %>
</div>
<div class='posts-container'>
  <% @user.recent_posts.each_with_index do |post, index| %>
    <div class='user-posts'>
      <h2>Post #<%= index+1 %>
      <p class='post'> <%= post.text %></p>
      <div class='stats'>
        <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </span>
      </div>
      
    </div>
  <% end %>
  <br />
  <% link = "#{@user.id}/posts" %>
    <a href=<%= link %> >
      <button>See All Posts</button>
    </a>
  <div>
</div>
