<%= render partial: '/users/userheader', locals: { user: @user } %>
<div class='container'><br />
<%= link_to "Create a new post", new_user_post_path(@current_user) %> <br />
<% @posts.each_with_index do |post, index| %>
  <% link = "posts/#{post.id}" %>
  <a href=<%= link %>>
    <div class='user-posts'>
      <h4>Post #<%= index + 1 %></h4>
      <p><%= post.text %></p>
      <div class='stats'>
        <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>

          ###################

      </div>
    </div>
  </a>
  <%= render partial: 'comment', locals: {comments: post.recent_comments} %>
<% end %>
</div>
<br />
<% linkPagina = "#{@user.id}/posts" %>
<a href=<%= linkPagina %> >
  <button class='pagination'>pagination</button>
</a>
