<h1>Specific post</h1>
<div class='single-post'>
  <h4>Post #<%= @post.id %> by <%= @post.user.name %></h4>
  <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
  <p>
    <%= @post.text %>
  </p>
</div>
<%= render partial: 'comment', locals: { comments: @post.comments } %>
<%= link_to 'Add a comment', new_user_post_comment_path(@current_user, post_id: @post.id, user_id: 1) %> 
<%= button_to "Like", user_post_likes_path(@current_user, post_id: @post.id, user_id: 1), method: :post, class: 'form-group-btn field' %>